<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sora:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/patterns.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <a href="./" class="logo">
                <img src="../static/img/logo.svg" alt="">
            </a>
            <nav>
                <ul>
                    <li><a href="#" class="menu-item">menu-item</a></li>
                    <li><a href="#" class="menu-item">menu-item</a></li>
                    <li><a href="#" class="menu-item">menu-item</a></li>
                    <li><a href="#" class="menu-item">menu-item</a></li>
                </ul>
                <button class="btn-primary">Call to actions</button>
            </nav>
            <button class="menu-item menu-mobile">Menu mobile</button>
        </div>
    </header>
    <section class="s-hero">
        <div class="container">
            <div class="text">
                <h1>Front-end descomplicado e direto ao ponto</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis iste odio voluptates aliquid
                    possimus fuga recusandae obcaecati totam hic? Enim recusandae explicabo ex velit aperiam unde
                    voluptate possimus fugit error!</p>
                <a href="#" class="btn-primary">Fazer parte da lista de espera</a>
            </div>
            <div class="image">
                <img src="../static/img/img-hero.svg" alt=" image hero">
            </div>
        </div>
    </section>
    <section class="s-card-featured">
        <div class="container">
            <div class="main-area">
                <div class="title center">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officia nesciunt consequuntur
                        molestias accusamus perspiciatis impedit autem architecto aperiam temporibus libero minima, ex
                        voluptates dolores ut vel eveniet alias tempore?</p>
                </div>
                <div class="all-cards">
                    <div class="card">
                        <div class="icon">
                            <img src="../static/img/icon-circle.svg" alt="">
                        </div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa minima tempore quae
                                placeat inventore consequuntur iusto assumenda omnis! Adipisci eos quidem magnam
                                excepturi officiis dicta sint accusamus quas, ad quos.</p>
                        </div>
                    </div>
                    <div class="card white">
                        <div class="icon">
                            <img src="../static/img/icon-circle.svg" alt="">
                        </div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa minima tempore quae
                                placeat inventore consequuntur iusto assumenda omnis! Adipisci eos quidem magnam
                                excepturi officiis dicta sint accusamus quas, ad quos.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="icon">
                            <img src="../static/img/icon-circle.svg" alt="">
                        </div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa minima tempore quae
                                placeat inventore consequuntur iusto assumenda omnis! Adipisci eos quidem magnam
                                excepturi officiis dicta sint accusamus quas, ad quos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-area">
                <div class="top">
                    <div class="title">
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis.</p>
                    </div>
                    <a href="" class="btn-primary">Call to action</a>
                </div>
                <div class="all-imgs">
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="../static/img/thumb.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="s-newslatter">
        <div class="container">
            <h2>Front-end descomplicado direto ao ponto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eius aut saepe culpa consequuntur dolores! Est natus voluptatum ab rem vitae odit eveniet, eaque vel suscipit tempora nihil consectetur veritatis.</p>
            <a href="#" class="btn-primary ">Fazer parte da lista de espera</a>
        </div>
    </section>
    <footer>
        <div class="container">
            <main>
                <div class="area-left">
                    <img src="../static/img/logo-footer.svg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis veniam dolore dignissimos voluptatum obcaecati officia nam? Quia incidunt praesentium, fugit doloribus aspernatur nobis alias hic ipsum similique, laboriosam in dignissimos?</p>
                </div>
                <nav>
                    <div class="item">
                        <h6>Lista de páginas</h6>
                        <ul>
                            <li><a href="">Texto link 01</a></li>
                            <li><a href="">Texto link 02</a></li>
                            <li><a href="">Texto link 03</a></li>
                            <li><a href="">Texto link 04</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <h6>Soluções</h6>
                        <ul>
                            <li><a href="">Texto link 01</a></li>
                            <li><a href="">Texto link 02</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <h6>Redes sociais</h6>
                        <ul>
                            <li><a href="">
                                <img src="../static/img/instagram.svg" alt="">
                                <span>Instagram</span></a></li>
                            <li><a href="">
                                <img src="../static/img/linkedin.svg" alt="">
                                <span>Linkedin</span></a></li>
                            <li><a href="">
                                <img src="../static/img/youtube.svg" alt="">
                                <span>Youtube</span></a></li>
                        </ul>
                    </div>
                </nav>
            </main>
            <div class="copy">
                <p>Guilherme dos Reis <strong>Leoni</strong></p>
                <div class="grupy">
                <span>Grupo</span>
                <img src="../static/img/instagram.svg" alt="">
                </div>
            </div>
        </div>
    </footer> 
</body>

</html>