:root{
    --brand-colors--pink: #f67acb;
    --gray--colors-50: #e6ebf2;
    --gray--colors--100: #050110;
    --gray--colors--200: #1c1d1f;
    --gray--colors--300: #393c48;
    --gray--colors--400: #5c6066;
    --gray--colors--800: #f7f8fa;
    --white--colors--text: rgba(255, 255, 255, 0.7);
    --white: #fff;
}